/**
 * Title:
 *    Variables
 * Description:
 *    Project variables go here
 * Sections:
 *    $. Breakpoints
 *    $. Colours
 *    $. Typography
 *    $. Layout
 *    $. Icons
 *    $. Z axis
 */



/* $. Breakpoints
\*----------------------------------------------------------------*/

$bp1: 30em;
$bp2: 48em;
$bp3: 62em;
$bp4: 78em;
$bp5: 87em;



/* $. Colours
\*----------------------------------------------------------------*/

/**
 * Base colours
 */

/* defaults */
$white:               #FFFFFF;
$black:               #000000;

/* shades */
$grey:                #888888;
$grey-dark:           #252525;
$grey-light:          #CCCCCC;
$grey-lighter:        #F1F1F1;

/* primary */
$blue:                #005994;
$red:                 #D62323;
$green:               #34AB00;
$yellow:              #1B49BE;

/* secondary */
$blue-light:          #28AAE1;

/**
 * UI colours
 */

/* shades */
$color-text:          $grey-dark;
$color-background:    $white;
$color-link:          $blue-light;

/* palette */
$color-brand-blue:    $blue;
$color-brand-red:     $red;
$color-brand-green:   $green;
$color-brand-yellow:  $yellow;

/* states */
$color-success:       #2ECC71;
$color-error:         #E74C3C;



/* $. Typography
\*----------------------------------------------------------------*/

$font: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

$weight-normal:  300;
$weight-medium:  500;
$weight-bold:    700;



/* $. Layout
\*----------------------------------------------------------------*/

$base: 1em;



/* $. Icons
\*----------------------------------------------------------------*/

$icon: 20px;
$icon-small: 16px;
$icon-medium: 30px;
$icon-large: 45px;
$icon-xlarge: 65px;



/* $. Z axis
\*----------------------------------------------------------------*/

$z-index-0: -1;
$z-index-1: 1;
$z-index-2: 5;
$z-index-3: 10;
$z-index-4: 15;
$z-index-5: 20;
