/**
 * Title:
 *    Variables
 * Description:
 *    Project variables go here
 * Sections:
 *    $. Breakpoints
 *    $. Colours
 *    $. Typography
 *    $. Layout
 *    $. Icons
 *    $. Z axis
 */



/* $. Breakpoints
\*----------------------------------------------------------------*/

$bp1: 30em;
$bp2: 48em;
$bp3: 62em;
$bp4: 78em;
$bp5: 87em;



/* $. Colours
\*----------------------------------------------------------------*/

/**
 * Base colours
 */

/* defaults */
$white:               #FFFFFF;
$black:               #000000;

/* shades */
$grey:                #888888;
$grey-dark:           #444444;
$grey-light:          #EEEEEE;

/* primary */
$blue:                #1e88e5;
$blue-dark:           #37474f;

/* secondary */
$green:               #8bc34a;
$yellow:              #ffc107;
$red:                 #ff5722;

/**
 * UI colours
 */

/* shades */
$color-text:          $blue-dark;
$color-background:    $white;
$color-border:        $grey-light;
$color-link:          $blue;

/* palette */
$color-brand:         $blue;

/* states */
$color-success:       $green;
$color-warning:       $yellow;
$color-error:         $red;



/* $. Typography
\*----------------------------------------------------------------*/

$font: "Lato", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

$weight-normal:  300;
$weight-bold:    400;



/* $. Layout
\*----------------------------------------------------------------*/

$base: 1em;
$radius: $base/2;



/* $. Icons
\*----------------------------------------------------------------*/

$icon: 20px;
$icon-small: 16px;
$icon-large: 45px;



/* $. Z axis
\*----------------------------------------------------------------*/

$z-index-0: -1;
$z-index-1: 1;
$z-index-2: 5;
$z-index-3: 10;
$z-index-4: 15;
$z-index-5: 20;
