.icon--logo-mixd { background-image: url('png/logo-mixd.png'); background-repeat: no-repeat; }

.icon--menu-close { background-image: url('png/menu-close.png'); background-repeat: no-repeat; }

.icon--menu-open { background-image: url('png/menu-open.png'); background-repeat: no-repeat; }

.icon--select { background-image: url('png/select.png'); background-repeat: no-repeat; }

