/**
 * Title:
 *    Content
 * Description:
 *    Content coming from the CMS
 * Sections:
 *    $. Content
 */



/* $. Content
\*----------------------------------------------------------------*/

.content {
    max-width: 850px;

    > *:last-child {
        margin-bottom: 0;
    }

    a:not(.btn) {
    }
}
