/**
 * Title:
 *    Footer
 * Description:
 *    Used to define the sites main footer at the bottom of the page.
 *    Don't use this as a place to put generic <footer> tags.
 * Sections:
 *    $. Footer
 *    $. Copyright
 */



/* $. Footer
\*----------------------------------------------------------------*/

.footer {
    @extend %cf;
    padding: $base 0;
    border-top: 1px solid $color-border;
}

.footer__copyright {
    @extend .container--small;
    margin: 0 auto;
    color: $grey;
}
