/**
 * Title:
 *    Header
 * Description:
 *    Header layout module, used to define the header at the top of each page.
 *    This could be used in combination with other components to create a
 *    fully-fledged design.
 * Sections:
 *    $. Base
 *    $. Logo
 *    $. Nav
 *    $. Toggle
 */



/* $. Base
\*----------------------------------------------------------------*/

.header {
    @extend %cf;
    position: relative;
    padding: $base 0;
    border-bottom: 1px solid $color-border;
}


/* $. Logo
\*----------------------------------------------------------------*/

.header__logo {
    float: left;
}


/* $. Nav
\*----------------------------------------------------------------*/

.header__nav {
    float: right;
    margin-top: $base*.75;

    .is-active-nav & {
    }
}



/* $. Toggle
\*----------------------------------------------------------------*/

.header__toggle {
    display: none;
    @media screen and (min-width: $bp3) {
    }

    .is-active-nav & {}
}
