/**
 * Title:
 *    Button Module
 * Description:
 *    The .btn module and its extensions
 * Sections:
 *    $. Setup
 *    $. Component
 *    $. Modifications
 */



/* $. Setup
\*----------------------------------------------------------------*/

%btn {
    display: inline-block;
    padding: ($base/2) $base;
    border: 0;
    transition: all .15s ease-out;
}

@mixin btn( $text, $bg, $htext: $text, $hbg: darken($bg, 10%) ) {
    color: $text;
    background: $bg;

    &:hover,
    &:focus {
        color: $htext;
        background: $hbg;
    }
}



/* $. Component
\*----------------------------------------------------------------*/

button,
input[type="button"],
input[type="submit"],
.btn {
    @extend %btn;
}



/* $. Modifications
\*----------------------------------------------------------------*/

/**
 * Themes
 */

.btn--primary {
    @include btn($white, $grey);
}

.btn--secondary {}
.btn--tertiary {}
.btn--invert {}

/**
 * Position and size
 */

.btn--blocked {
    width: 100%;
    text-align: left;
}

.btn--large {
    font-size: 1.2rem;
}

.btn--small {
    font-size: .8rem;
}

/**
 * Icons
 */

.btn--icon {
    position: relative;
    padding-right: $base*2.5;

    .icon          {}
    .icon--small   {}
    .icon--medium  {}
    .icon--large   {}
    .icon--xlarge  {}
}

